<!DOCTYPE html>
<html>
<head>
  <title>What is this vegetable?</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <!-- the holder stuff was here with the link to the API info -->
  <!--- Login in snippit -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ></a> <!--href="#"-->
      </div>


       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/signup">Sign up <span class="sr-only">(current)</span></a></li>
          <li><a href="/logout">Logout</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find my veggie! <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/artichoke">Artichoke</a></li>
              <li><a href="/asparagus">Asparagus</a></li>
              <li><a href="/eggplant">Eggplant</a></li>
              <li><a href="/kailan">Kai-lan</a></li>
              <li><a href="/kohlrabi">Kohlrabi</a></li>
              <li><a href="/okra">Okra</a></li>
              <li><a href="/romanesco">Romanesco</a></li>
              <li><a href="/rutabaga">Rutabaga</a></li>
              <li><a href="/spaghettisquash">Spaghetti Squash</a></li>
              <li><a href="/sunchoke">Sunchoke</a></li>
            </ul>
          </li> 
        </ul>

<!--               <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
 -->
<!-- <form action="demo_form.asp" class="form">
  <select name="vegetables">
    <option value="Artichoke">Artichoke</option>
    <option value="Asparagus">Asparagus</option>
    <option value="Eggplant">  Eggplant  </option>
    <option value="Kai-lan">  Kai-lan  </option>
    <option value="Kohlrabi">  Kohlrabi  </option>
    <option value="Okra">  Okra  </option>
    <option value="Romanesco">  Romanesco  </option>
    <option value="Rutabaga">  Rutabaga  </option>
    <option value="Spaghetti Squash">  Spaghetti Squash  </option>
    <option value="Sunchoke">  Sunchoke  </option>
  </select>
  <input type="submit" value="Find my veggie!">
</form>
 -->
        <form id="signin" class="navbar-form navbar-right" role="form">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">                                        
          </div>

          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">                                        
          </div>

          <button type="submit" class="btn btn-primary">Login</button>
        </form>

      </div>
    </div>
  </nav>

  <div>
  <h1 class="h1">What <span class="emphasize">is</span> this Vegetable?</h1>
</div>



  <!-- Thumbnail Carousel Snippit -->
<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="http://i.imgur.com/ScPBYbG.jpg"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="http://i.imgur.com/iVbEqFth.jpg"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="http://i.imgur.com/yfTxSE1h.jpg"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="http://i.imgur.com/rdiJZbWh.jpg"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="http://i.imgur.com/xmOQox0h.jpg?1"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="http://i.imgur.com/XfAzfzzh.jpg"></div>

                                        <div class="item" data-slide-number="6">
                                        <img src="http://i.imgur.com/eB1Scpwh.jpg?2"></div>

                                        <div class="item" data-slide-number="7">
                                        <img src="http://i.imgur.com/oYsj0N4h.jpg"></div>

                                        <div class="item" data-slide-number="8">
                                        <img src="http://i.imgur.com/zLn7Vk3h.jpg"></div>

                                        <div class="item" data-slide-number="9">
                                        <img src="http://i.imgur.com/ryWQm9Nh.jpg"></div>

                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                    </a>                                
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Artichoke</h2>
                                    <p>To prepare an artichoke, cut the tips off the leaves (the part with the spikes and trim the stem to the base. Place it in a pot, stem side down, with water about an inch or two deep. Steam for approximately 30 minutes.</p>
                                    <p class="sub-text">More information and recipes - <a href="/artichoke">Read more</a></p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Asparagus</h2>
                                    <p>To prepare the asparagus, cut from the bottom of the stalk until the knife slides easily through. You may have to slice off much of the stalk if the asparagus is larger or older. Steam in a steamer of place upright in a pot with an inch or so of water until tender, about 5-8 minutes. It can also be roasted, grilled, baked, fried, or sauteed.</p>
                                    <p class="sub-text">More information and recipes - <a href="/asparagus/asparagus.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Eggplant</h2>
                                    <p>Eggplant can be baked, roasted, grilled, fried, or cooked just about any way you want.</p>
                                    <p class="sub-text">More information and recipes - <a href="/eggplant/eggplant.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Kai-lan</h2>
                                    <p>Kai-lan is also known as Chinese broccoli. To prepare it, trim the stalks and the blanche it making sure it is completely submerged in the water for about 2 minutes. When you remove it, you can serve it as is or saute it with garlic for a few minutes. Serve it with oyster sauce, butter, or any other topping you like.</p>
                                    <p class="sub-text">More information and recipes - <a href="/kailan/kailan.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Kohlrabi</h2>
                                    <p>Kohlrabi can be eaten raw or cooked like a potato. Slice off the ends and peel. If eating raw, slice it and serve. If cooking, it can be cut into sections and boiled then mashed or served as is.</p>
                                    <p class="sub-text">More information and recipes - <a href="/kohlrabi/kohlrabi.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Okra</h2>
                                    <p>Okra can be steamed, boiled, sauteed, used in stews or soups, or fried.</p>
                                    <p class="sub-text">More information and recipes - <a href="/okra/okra.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-6">
                                    <h2>Romanesco</h2>
                                    <p>Romanesco is very similar to cauliflower and can be cooked the same way. Steam it, bake or grill it, or just eat it raw.</p>
                                    <p class="sub-text">More information and recipes - <a href="/romanesco/romanesco.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-7">
                                    <h2>Rutabaga</h2>
                                    <p>Rutabagas are very similar to turnips. They can be cooked by boiling them or baking them. Trim off the ends then slice into chunks and boil for 7 to 10 or until soft. They can be served as it or mashed.</p>
                                    <p class="sub-text">More information and recipes - <a href="/rutabaga/rutabaga.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-8">
                                    <h2>Spaghetti Squash</h2>
                                    <p>Slice the squash in half (from the stem to the end) and scrape the seeds out of the middle. Cover the cut sides with olive oil and bake at 400 degrees for 40 to 50 minutes. When tender, scrape the squash out of the shell and serve with any sort of topping you like (including spaghetti sauce!</p>
                                    <p class="sub-text">More information and recipes - <a href="/spaghettisquash/spaghettisquash.ejs">Read more</a></p>
                                </div>

                                <div id="slide-content-9">
                                    <h2>Sunchoke</h2>
                                    <p>Sunchokes are also known as jerusalem artichokes. Wash and peel them then boil for about 10 to 20 minutes or until tender. Slice them and eat them with butter, salt and pepper or any topping you like.</p>
                                    <p class="sub-text">More information and recipes - <a href="/sunchoke/sunchoke.ejs">Read more</a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-0"><img src="http://i.imgur.com/ScPBYbG.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-1"><img src="http://i.imgur.com/iVbEqFt.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-2"><img src="http://i.imgur.com/yfTxSE1.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-3"><img src="http://i.imgur.com/rdiJZbW.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-4"><img src="http://i.imgur.com/xmOQox0h.jpg?1"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-5"><img src="http://i.imgur.com/XfAzfzz.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-6"><img src="http://i.imgur.com/eB1Scpwh.jpg?2"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-7"><img src="http://i.imgur.com/oYsj0N4.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-8"><img src="http://i.imgur.com/zLn7Vk3.jpg"></a>
                            </li>

                            <li class="col-sm-1">
                                <a class="thumbnail" id="carousel-selector-9"><img src="http://i.imgur.com/ryWQm9N.jpg"></a>
                            </li>

                        </ul>                 
                </div>
        </div>
</div>


<!--Search Bar snippit -->
<!-- <div id="custom-search-input">
  <div class="input-group col-md-3 search">
    <input type="text" class="  search-query form-control" placeholder="Find my veggie!" />
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button" value="Shazaam!">
        <span class=" glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>
 -->
<!-- <div id="custom-search-input">
   <div class="col-md-3 search">
    <p class="p">Find my veggie!</p>
    <select name="Find my veggie!"/>
    <option>  Artichoke  </option>
    <option>  Asparagus  </option>
    <option>  Eggplant  </option>
    <option>  Kai-lan  </option>
    <option>  Kohlrabi  </option>
    <option>  Okra  </option>
    <option>  Romanesco  </option>
    <option>  Rutabaga  </option>
    <option>  Spaghetti Squash  </option>
    <option>  Sunchoke  </option>
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button" value="Shazaam!">
        <span class=" glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
-->
 




</body>
</html>


