<!DOCTYPE html>
<html>
<head>
  <title>Vegetable - More Recipes</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/vegetable.css">
  <script src="/static/js/app.js"></script>
</head>
<body>

  <!-- Home button -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!--     <a class="navbar-brand" href="../index.ejs">Home</a> -->
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="./">Back to your veggie</a>
  </div>
  <br>
  <div>
    <h1 class="recipeTitle">For more yummy recipes, check out the photos below</h1> 
      <% for(var i=0; i<foods.length; i++) { %>
      <div class="col-xs-4 col-sm-4 col-md-4"> 
      <h3><%=foods[i].title%></h3>
      <a href="<%=foods[i].source_url%>" target="_blank">
      <!-- <div class="col-sm-2 col-md-3"> my edits which stair step the results - badly-->
      <!--<div class="col-sm-6 col-md-4">  6 4  -->
          <div class="thumbnailRecipe">
            <img src=<%=foods[i].image_url%>>
              <div class="caption">
              </div>
          </div>
      </div>
  </div>
  <% } %>

  </body>


  </html>



