<!DOCTYPE html>
<html>
<head>
  <title>Vegetable - Recipe 1</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/vegetable.css">
  <script src="/static/js/app.js"></script>
</head>
<body>

  <!-- Home button -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
        </button>
<!--     <a class="navbar-brand" href="../index.ejs">Home</a> -->
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/..">Back to Veggie</a>
</div>
    <div class="div">
    <h3 class="recipeTitle">Recipe Title - clown hats</h3>
  </div>
<br>
</div>
    <div class="div">
    <h6 class="recipeTitle">Ingredients</h6>
    <ul class="recipeList">
      <li>veggie</li>
      <li>magic</li>
      <li>clown hats</li>
      <li></li>
      <li></li>
    </ul>
  </div>
<br>
  <div>
    <h6 class="recipeTitle">Instructions</h6>
    <ol class="recipeList">
      <li>chop veggies</li>
      <li>wave magic wand</li>
      <li>clown hats</li>
      <li></li>
      <li></li>
    </ol>
  </div>

</body>
</script>
</script>
</script>

<!-- Comments  -->

<div class="container">
    <div class="col-lg-4 col-sm-6 text-center">
    <div class="well">
        <h4>What is on your mind?</h4>
    <div class="input-group">
        <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
      <span class="input-group-btn" onclick="addComment()">     
            <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Comment</a>
        </span>
    </div>
    <hr data-brackets-id="12673">
    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
        <strong class="pull-left primary-font">James</strong>
        <small class="pull-right text-muted">
           <span class="glyphicon glyphicon-time"></span>7 mins ago</small>
        </br>
        <li class="ui-state-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        </br>
         <strong class="pull-left primary-font">Taylor</strong>
        <small class="pull-right text-muted">
           <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
        </br>
        <li class="ui-state-default">Duis aute irure dolor in reprehenderit in voluptate velit.</li>
        
    </ul>
    </div>
</div>



</head>
</html>



