<!DOCTYPE html>
<html>
<head>
  <title>What is this vegetable?</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>

<!-- Home button -->
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>


<!-- Header  -->
  <div>
  <h1 class="h1">Vegetable 1</h1>
</div>

<!-- Thumbnail Caption with Button  -->
    <div class="container" id="tourpackages-carousel">
      
      <div id="our_customer" class="row">
        
        <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
 
         <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
                <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
        
          <div class="col-xs-4 col-sm-4 col-md-4">
          <div class="thumbnail">
            <img src="http://placehold.it/300x200" alt="">
              <div class="caption text-center">
                <p>Thumbnail label</p>
            </div>
          </div>
        </div>
      </div><!-- End row -->
      
    </div><!-- End container -->



<!-- Wikipedia text  -->
<p>Objectively matrix extensive manufactured products without cost effective ROI. Conveniently seize competitive expertise vis-a-vis standardized action items. Distinctively administrate scalable leadership after world-class process improvements.</p>


<!-- Nav bar with recipes  -->
<!-- Fixed navbar -->
<!--         <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><exclamation dashdash /.nav-collapse dashdash bracket
            </div><exclamation dashdash /.container dashdash bracket
        </nav><exclamation dashdash /.navbar -->
 -->
        <div class="container">

            <div class="row row-offcanvas row-offcanvas-right">

                <div class="col-xs-12 col-sm-9">
                    <p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                    </p>

                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Recipe 1</a>
                        <a href="#" class="list-group-item">Recipe 2</a>
                        <a href="#" class="list-group-item">Recipe 3</a>
                    </div>
                </div><!--/.sidebar-offcanvas-->
            </div><!--/row-->

            <hr>

            <footer>
                <p></p>
            </footer>

        </div><!--/.container-->









</body>
</html>