<!DOCTYPE html>
<html>
<head>
  <title>Veggie Show</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/vegetable.css">
  <script src="/static/js/vegetable.js"></script>
</head>
<body>

  <!-- Home button -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<!--     <a class="navbar-brand" href="../index.ejs">Home</a> -->
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/artichoke/recipe1">Recipe 1</a>
    <a class="navbar-brand" href="/artichoke/recipe2">Recipe 2</a>
    <a class="navbar-brand" href="/artichoke/recipe3">Recipe 3</a>
    <a class="navbar-brand" href="/artichoke/moreRecipes">More Recipes</a>
  </div>

  <br><br>
  <!-- Header  -->
  <div>
    <h1 class="h1"><%= veggie.name %> </h1>
  </div>

  <!-- Thumbnail Caption with Button  -->
  <div class="container" id="tourpackages-carousel">

    <div id="our_customer" class="row">

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="http://i.imgur.com/kc7cO4d.jpg" alt="artichoke plant">
          <div class="caption text-center">
            <p>Artichoke plant</p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="http://i.imgur.com/MJAhrSd.jpg" alt="artichokes cooking in a pot">
          <div class="caption text-center">
            <p>Artichokes cooking in a pot</p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
        <img src="http://i.imgur.com/xXs9EI5.jpg" alt="prepared artichokes">
          <div class="caption text-center">
            <p>Artichoke hearts</p>
          </div>
        </div>
      </div>
      <!-- End row -->
      
    </div><!-- End container -->

    <!-- Wikipedia text  -->
    <p>This is supposed to be the wikipedia API information about this snazzy vegetable. Need some clown hats here.</p>

</body>
</html>