<!DOCTYPE html>
<html>
<head>
  <title>Spaghetti Squash</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- API Key -->
  <link rel="stylesheet" type="text/css" href="/static/css/vegetable.css">
  <script src="/static/js/Spaghetti Squash.js"></script>
</head>
<body>

  <!-- Home button -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
<!--     <a class="navbar-brand" href="../index.ejs">Home</a> -->
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/spaghettisquash/recipe1">Recipe 1</a>
    <a class="navbar-brand" href="/spaghettisquash/recipe2">Recipe 2</a>
    <a class="navbar-brand" href="/spaghettisquash/recipe3">Recipe 3</a>
    <a class="navbar-brand" href="/spaghettisquash/moreRecipes">More Recipes</a>
  </div>

  <br><br>
  <!-- Header  -->
  <div>
    <h1 class="h1">Spaghetti Squash</h1>
  </div>

  <!-- Thumbnail Caption with Button  -->
  <div class="container" id="tourpackages-carousel">

    <div id="our_customer" class="row">

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="http://i.imgur.com/rAsE721.jpg?1" alt="Spaghetti Squash plant">
          <div class="caption text-center">
            <p>Spaghetti Squash plant</p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="http://i.imgur.com/9bYuQ8w.jpg?1" alt="Baked spaghetti squash">
          <div class="caption text-center">
            <p>Baked spaghetti squash</p>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="thumbnail">
        <img src="http://i.imgur.com/dfCnD5b.jpg?1" alt="prepared Spaghetti Squash">
          <div class="caption text-center">
            <p>Prepared spaghetti squash</p>
          </div>
        </div>
      </div>
      <!-- End row -->
      
    </div><!-- End container -->

    <!-- Wikipedia text  -->
    <p>This is supposed to be the wikipedia API information about this snazzy vegetable. Need some clown hats here.</p>

</body>
</html>